.button-primary {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  border: none;
  border-radius: 50px;
  background: linear-gradient(
    90deg,
    rgba(64, 223, 255, 1) 20%,
    rgba(68, 68, 208, 1) 100%
  );
  padding: 7px 10px;
  transition: 200ms;
}

.button-primary:hover {
  scale: 1.03;
  transition: 200ms;
}

.button-secondary {
  display: flex;
  align-items: center;
  margin: 0 auto;
  border: none;
  border-radius: 15px;
  background-color: #ECEBEF;
  font-size: 0.9rem;
  padding: 5px 10px;
}

.button-tertiary {
  min-width: 25%;
  border: none;
  border-radius: 5px;
  background-color: #ECEBEF;
  font-size: 1.25rem;
  padding: 5px 20px;
}
