.card-element {
  display: flex;
  margin-bottom: 25px;
  border-radius: 5px;
  background-color: #fff;
  padding: 15px 10px;
  filter: drop-shadow(0 0 0.2rem rgb(193, 193, 193));
}

.card-image {
  display: none;
}

@media only screen and (min-width: 768px) {
  .card-image {
    display: initial;
  }
}

.card-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 10px;
}

.card-building {
  display: flex;
  justify-content: space-between;
}

.card-building p {
  font-weight: 600;
  color: #51545a;
  margin: 0;
}

.card-building button {
  border: none;
  background-color: transparent;
}

.card-address {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f4f6f8;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.card-address p {
  margin-left: 3px;
  margin-bottom: 0;
}

.card-info {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  padding-left: 0;
}

.card-info button {
  margin-left: auto;
}

.card-info p {
  margin: 0 10px 0 5px;
}

.card-arrow-right {
  border: none;
  background-color: transparent;
}
